# Edit me nd rename .env before running docker-compose up
DRONE_SERVER=ws://drone-server:8000/ws/broker
SECRET=my-secret-key
GITEA_URL=http://gitea:3000

DRONE_ORG=your-organisation-name
DRONE_ADMIN=your-gitea-username
