I_UNDERSTAND_I_AM_USING_AN_UNSTABLE_VERSION=true
I_AGREE_TO_FIX_BUGS_AND_NOT_FILE_BUGS=true

DRONE_SERVER_ADDR=:8000
DRONE_DEBUG=true

DRONE_DATABASE_DRIVER=sqlite3
DRONE_DATABASE_DATASOURCE=/var/lib/drone/drone.sqlite
DRONE_OPEN=true
DRONE_ADMIN=oly
DRONE_ADMIN_ALL=false

REMOTE_DRIVER=gogs      
DRONE_GOGS=true
DRONE_GOGS_SKIP_VERIFY=true
DRONE_GOGS_PRIVATE_MODE=true

DRONE_SERVER=ws://drone-server:8000/ws/broker
DRONE_DEBUG=true


#change these 
DRONE_ADMIN=your-user
DRONE_SECRET=your-secret-here
DRONE_GOGS_URL=your-gogs-url
DRONE_URL=your-gogs-url
REMOTE_CONFIG=your-gogs-url

#DRONE_AGENT_SECRET=c6b87f3da17ca296a736fe70a6e0850258f89b8b


